---
title: "This is the title"
primaryCTA:
  title: 'This is an agency that doesn’t actually exist'
  summary: 'This is the project site you build when you take the “Learn
    Eleventy From Scratch” course so it is all made up as a pretend
    context. You will learn a lot about Eleventy by building this site
    though. Take the course today!'
  buttonText: 'Buy a copy'
  buttonUrl: 'https://piccalil.li/course/learn-eleventy-from-scratch/'

intro:
  eyebrow: 'Digital Marketing is our'
  main: 'Bread & Butter'
  summary: 'Let us help you create the perfect campaign with our multi-faceted team of talented creatives.'
  buttonText: 'See our work'
  buttonUrl: '/work'
  image: '/images/bg/toast.jpg'
  imageAlt: 'Buttered toasted white bread'

featuredWork:
  title: 'Selected work'
  summary: 'Some stuff that should give you an idea of what we’re all about.'

studioFeed:
  title: 'Fron inside the studio'

metaDesc: 'A made up agency site that you build if you take Learn Eleventy From Scratch, by Piccalilli'
---

{% extends "layouts/default.njk" %} 
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
  <article id="" class="[ wrapper ]">

    <header>
      <h1 class="page-title tracking-tight">{{ title }}</h1>
    </header>

    <div class="">
      <p class="text-2xl mb-10 font-light leading-snug text-gray-600">I'm Brad, a design leader working in the Washington, DC area.</p>

      <h3 class="mb-8"><a href="/projects">🖥 See what I've been working on</a></h3>
      <h3 class="mb-8"><a href="/blog">📖 Read through my collection of resources</a></h3>
      <h3 class="mb-8"><a href="mailto:hbhunt@gmail.com">💌 Send me an email</a></h3>
    </div>

  </article>

  <div class="wrapper">
  <article class="intro">
    <div class="[ intro__header ] [ radius frame ]">
      <h1 class="[ intro__heading ] [ weight-normal text-400 md:text-600 ]">
        {{ intro.eyebrow }}
        <em class="text-800 md:text-900 lg:text-major weight-bold">{{ intro.main }}</em>
      </h1>
    </div>
    <div class="[ intro__content ] [ flow ]">
      <p class="intro__summary">{{ intro.summary }}</p>
      <a href="{{ intro.buttonUrl }}" class="button">{{ intro.buttonText }}</a>
    </div>
    <div class="[ intro__media ] [ radius dot-shadow ]">
      <img
        class="[ intro__image ] [ radius ]"
        src="{{ intro.image }}"
        alt="{{ intro.imageAlt }}"
      />
    </div>
  </article>
</div>

  {% set ctaContent = primaryCTA %} 
  {% include "components/cta.njk" %} 

  {% include "components/featured-work.njk" %}

  {% include "components/studio-feed.njk" %}

  {% set ctaContent = cta %} 
  {% include "components/cta.njk" %}

{% endblock %}