{% extends "layouts/base.njk" %} 

{% block content %}

<div class="[ home ] [ wrapper with-sidebar ]">
  <div> <!-- intermediary wrapper -->
    <div><!-- sidebar -->
      <p class="intro__lead">{{ intro.primary }}</p>
    </div>
    <div class="stack"><!-- non-sidebar -->
      <p class="intro__secondary">{{ intro.secondary }}</p>
      <p class="">{{ intro.summary }}</p>  
    </div>
  </div>
</div>

{% include "partials/featured-work.njk" %}

{% endblock %}
