{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/work-item.css'] %}

{% block content %}

<div class="cover">
  <div><!-- header --></div>
  <div class="with-sidebar">
      <div class="wrapper"> <!-- intermediary wrapper -->
        <div class="centered"><!-- sidebar -->
          <h1 class="[ headline ] [ measure-compact ]" data-highlight="quinary">{{ title }}</h1>
          <p class="measure-short">{{ summary }}</p>
        </div>
        <div><!-- non-sidebar -->
          <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" class="hero__image" />
        </div>
      </div>
    </div>
  <div><!-- footer --></div>
</div>

<section class="[ ] [ wrapper with-sidebar ]">
  <div> <!-- intermediary wrapper -->
    <div><!-- sidebar -->
      <dl>
        <dt>Title</dt>
        <dd>This is the title</dd>
        <dt>Dates</dt>
        <dd>{{ dateRange }}</dd>
        <dt>Title</dt>
        <dd>This is the title</dd>
      </dl>
    </div>
    <div class="stack"><!-- non-sidebar -->
      <h1 class="[ headline ] [ measure-compact ]" data-highlight="quinary">
        {{ title }}
      </h1>
      {{ content | safe }}
    </div>
  </div>
</section>

{% endblock %}