<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "components/meta-info.njk" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
</head>

<body {% if body_class %} id="{{ body_class }}"{% endif %} class="text-purple-900 leading-normal text-lg">

    <a class="sr-only" href="#main">Skip to content</a>

    {% include "components/header.njk" %}

    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>

    {# include mobile nav #}
    {% include "components/mobile-nav.njk" %}

</body>
</html>
