@import 'reset';

@import 'config';
@import '../../node_modules/gorko/gorko.scss';

// import compositions
@import 'compositions/sidebar.scss';
@import 'compositions/cluster.scss';
@import 'compositions/center.scss';
@import 'compositions/stack.scss';
@import 'compositions/grid.scss';
@import 'compositions/box.scss';
@import 'compositions/cover.scss';

body {
    background: get-color('light');
    color: get-color('dark-shade');
    line-height: 1.7;
    font-size: get-size('400');
  
    @include apply-utility('font', 'base');
}

a:not([class]) {
    color: currentColor;
    text-decoration-color: get-color('quinary');
}

:focus {
    outline: 2px dashed get-color('primary');
    outline-offset: 0.25rem;
}
  
main:focus {
    outline: none;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
    color: get-color('light');
  
    // We set this as an RGBA because that's how you get a solid color, by using 0.99
    // alpha value. Browsers are wild.
    background: rgba(get-color('dark-shade'), 0.99);
}
  
// Scrollbar styles
::-webkit-scrollbar {
    height: 1rem;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid get-color('dark-glare');
    border-radius: 0.25rem;
}
  
::-webkit-scrollbar-thumb {
    background-color: get-color('dark');
    border-radius: 0.25rem;
}

/* More info: https://piccalil.li/quick-tip/limit-line-lengths-to-increase-readability/ */
p,
li,
dl {
    max-width: 70ch;
}

// import utilities
@import 'utilities/visually-hidden.scss';
@import 'utilities/radius.scss';

//import blocks
@import 'blocks/home.scss';
@import 'blocks/site-head.scss';
@import 'blocks/nav.scss';
@import 'blocks/skip-link';
@import 'blocks/featured-work';