// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.cover .headline {
    font-size: get-size('600');
    font-weight: 900;

    & + p {
        font-size: get-size('500');
        font-weight: 300;
        max-width: 32ch;
    }
}

.work.with-sidebar > * {
    border-top: 2px solid get-color('primary');
    margin-top: 2px;
}

.with-sidebar > * > * {
    min-width: 375px;
}