<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner">
  <div class="[ cluster wrapper stack ] [ site-head__container ]">
    <div>
      <p>bradhunt.com</p>
      <nav class="[ nav cluster ] [ site-head__nav ]" aria-label="Primary">
          <ul class="nav__list">
              {% for item in navigation.items %}
              <li>
                  <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                    >{{ item.text }}</a
                  >
              </li>
              {% endfor %}
          </ul>
        </nav>
    </div>
  </div>
</header>